html { height: 100%; margin: 0;}

body{
	height: 100%; 
	margin: 0;
	background: #fff;
	line-height: initial;
	font-family: 'Source Sans Pro', sans serif;
  font-weight: 400;
  font-size: 14px;
  min-width: 319px
}

div,p, ul,li, menu, dir{

    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

	margin: 0;
	line-height: initial;
}

a{
	text-decoration: none;
}

header {
  width: 100%;           /*float: left;*/
  display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;				  /* NEW, Spec - Firefox, Chrome, Opera */
  
  -webkit-box-flex-direction: row;				  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  -ms-flexbox-flex-direction: row;				  /* TWEENER - IE 10 */
  -webkit-flex-flex-direction: row;				  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-direction: row;				  /* NEW, Spec - Firefox, Chrome, Opera */
 
  -webkit-box-flex-direction: row;				  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  -ms-flexbox-flex-direction: row;  /* TWEENER - IE 10 */
  -webkit-flex-flex-direction: row;  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  flex-direction: row;              /* NEW, Spec - Firefox, Chrome, Opera */
 
  -webkit-box-justify-content: space-around;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  -ms-flexbox-justify-content: space-around;  /* TWEENER - IE 10 */
  -webkit-flex-justify-content: space-around; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  justify-content: space-around;              /* NEW, Spec - Firefox, Chrome, Opera */
 
  -webkit-box-align-items: flex-end;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  -ms-flexbox-align-items: flex-end;   /* TWEENER - IE 10 */
  -webkit-flex-align-items: flex-end;  /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  align-items: flex-end;              /* NEW, Spec - Firefox, Chrome, Opera */
  
  flex-wrap: nowrap;
  margin: 0px;
}

#page-top{
  position: fixed;
  top: 0px;
  width: 100%;
}
#header-block{
  background: #fff;
  width: 100%;
  top:0px;
}

#header-logo{
  -webkit-box-flex: 1 1 16%;
  -ms-flexbox-flex: 1 1 16%;
  -webkit-flex-flex: 1 1 16%;
   flex: 1 1 16%;
	
	margin: 0 0 -4px 0;
	min-width: 255px;
	transition: min-width 1s;
	transition: flex .5s ease ;
}
#header-logo img{
	width: 100%;
}

#header-content{
  -webkit-box-flex: 2 2 72%;
  -ms-flexbox-flex: 2 2 72%;
  -webkit-flex-flex: 2 2 72%;
  flex: 2 2 72%;
	/*display:inline-block;*/
	margin: 0px;
  transition: flex .5s ease ;
	
}
#welcome-message{
	text-align: center;
}

#welcome-name{
	font-size: 2vw; 
	 -webkit-transition: font-size 0.2s linear;
}
#subcontractor-name{
	font-size: 1.5vw;
	 -webkit-transition: height 0.5s linear, font-size 0.2s linear;
}

.secondary-nav{
	display: inline-block;
	padding-right: 40px;
}
.navigation{
  min-width: 150px;
  height: 30px;
	position: relative;
	background-color: ghostwhite;
	text-align: right;
	transition: height .3s ease-in-out;
	
}
.secondary-nav a {
  display: inline-block;
	position: relative;
	color: #0E76BD;
	font-size: 18px;
	padding: 0 15px;
	height: 30px;
	

}
.navigation-main{
  min-width: 200px;
  height: 30px;
  position: relative;
  width:  100%;
  background: #0E76BD;
  display: block;
  transition: height .3s ease-in-out;
  
}

.MainNav{
  display: inline-block;
  position:relative;
	padding-left: 15%;
}

.MainNav a{
  display: inline-block; 
	position: relative;
  color: #E0E0E0;
	font-size: 18px;
  padding: 0 15px;
	height: 30px;
}

#header-account-info{
	-webkit-box-flex: 1 1 12%;
  -ms-flexbox-flex: 1 1 12%;
  -webkit-flex-flex: 1 1 12%;
  flex: 1 1 12%;
  
  flex-direction: column;
	
	text-align: center;
	margin: 0 0 2px 0;
	transition: flex .5s ease ;
}

#header-account-info > #account-links >  a{
  display: inline-block;
	color: #0E76BD;
  font-size: 16px;
  margin-bottom: .5%;  
  width: 75%;
  border: 1px solid #0E76BD
}

/*.secondary-nav a:hover:after
{
  content: attr(data-before);	
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  position: absolute;
  top: 100%;
  left: 50%;
}*/
/*
.secondary-nav a:active:after
{
  content: '';	
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  padding:0;
  position: relative;
}
*/
.change:after
{
  content: attr(data-before1);	
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #0E76BD;;
 	padding:0;
  position: absolute;
  bottom: 0%;
  left: 50%;
  
}

.change2:after
{
  content: attr(data-before2);	
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #E0E0E0;
 	padding:0;
  position: absolute;
  bottom: 0%;
  left: 50%;
  
}

@media only screen and (max-width: 1224px) { /*desktop and laptops*/
   #account-links{
      position: relative; 
   }
   #header-account-info > #account-links >  a{
      font-size: 1.3vw;
      margin-bottom: .5%;
      z-index: auto;
   }
   #header-logo{
     min-width: 20%;
   }
}

@media only screen and (max-width: 1024px) { /*desktop and laptops*/
   #account-links{
      position: absolute;
      z-index: 1;
      background:white;
      border: 1px solid #0E76BD;
   }
   
   #header-account-info > #account-links >  a{
        margin: 0px;
      background:white;
      width: 100%;
      border: none;
      border-bottom: 1px solid #0E76BD;;
      font-size:14px;
   }
    #header-account-info > #account-links >  a:last-child{
      border-bottom: none;
    }
}


@media only screen and (max-width: 768px) { /*desktop and laptops*/
     
    #header-logo{
      flex: 1 1 12%;
    } 
    #header-content{
       flex: 1 1 70%;
    }
    #header-account-info{
        flex: 1 1 18%;
    }
    #welcome-name{
      font-size:2.5vw;
    }
    #subcontractor-name{
      /*visibility: hidden;*/
      /*opacity: 0;
      height:0px;*/
      font-size: 0px;
    }
}

@media only screen and (max-width: 495px) {
  #header-logo{
    min-width: 78px; 
    flex: 1 1 8%;
  }
  #header-content{
     display: flex;
    flex:1 1 60%;
    justify-content: flex-end;
  }
 
  #welcome-name{
    font-size: 18px;
    text-align: center;
    border-bottom: .5px solid #0E76BD;
    width: 100%;
  }
  div.ham-menu-m, div.ham-menu-s{
    height: 33px;
  }
 
  header{
    align-items: flex-start;
  }
  #header-account-info{
    flex: 1 1 32%;
  }
   .navigation{
    min-width: initial;
    height: 33px;
  }
  .navigation-main{
    height: 33px;
  }
  
  div.hidden-menu-m, div.hidden-menu-s{
    top:33px;
  }
}

.arrow-down {
  display: none;
  margin:auto;	
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #E0E0E0;
 	padding:0;
 	cursor: pointer;
}

.arrow-down:hover{
  border-top-color: #AABBDD;
}
main{
	width: 960px;
	margin: 200px auto 0 auto; 
}
/*.secondary-nav a:link { 
  color: blue;
}
a:visited {
  color: purple;
}
a:hover {
  color: green;
}
a:active {
  color: red;
}*/
/*numbered navigation*/

.hidden-menu-s{
    background: ghostwhite;
    position: absolute;
    width: 160px;
    font-family: inherit;
    right: 0%;
    top: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid #0E76BD;
    z-index: 5;
}

.hidden-menu-s > a {
  position: relative;
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: 18px;
    color: #0E76BD;
    text-align: center;
    border-bottom: 1px solid;
    height: 30px;
  
}

.hidden-menu-s > a:last-child{
  border-bottom: none;
}

.hidden-menu-m{
    background: #0E76BD;
    position: absolute;
    width: 160px;
    font-family: inherit;
    left: 0%;
    top: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid #E0E0E0;
    z-index: 5;
}

.hidden-menu-m > a {
  position: relative;
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: 18px;
    color: #E0E0E0;
    text-align: center;
    border-bottom: 1px solid;
    height: 30px;
  
}

.hidden-menu-m > a:last-child{
  border-bottom: none;
}


.hidden{
	display: none;
}

.ham-menu-s1{
	  border: 1px solid #E0E0E0;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background: #0E76BD;
    position: absolute;
    top: -10px;
    right: -13px;
}
.ham-menu-s1 div1{
	  border-top: 3px solid #E0E0E0;
    width: 26px;
    margin-bottom: 5px;
    position: relative;
    top: 12px;
    left: 9px;
}


/*rectangle-ham*/
.ham-menu-s {
    /* border: 1px solid #E0E0E0; */
    width: 44px;
    height: 30px;
    /* border-radius: 22px; */
    background: #0E76BD;
    position: absolute;
    top: 0px;
    right: 1px;
    z-index: 5;
     cursor: pointer;
     transition: height 0.2s linear;
}
div.ham-menu-s:hover, div.ham-menu-m:hover{
  background: #AABBDD;
  transition: background .5s linear;
}
.ham-menu-s div {
    border-top: 3px solid #E0E0E0;
    width: 26px;
    margin-bottom: 5px;
    position: relative;
    top: 7px;
    left: 9px;
  
}



/*rectangle-ham for main menu*/
.ham-menu-m {
    /* border: 1px solid #E0E0E0; */
    width: 44px;
    height: 30px;
    /* border-radius: 22px; */
    background: #E0E0E0;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    cursor: pointer;
      transition: height 0.2s linear;
}
.ham-menu-m div {
    border-top: 3px solid #0E76BD;
    width: 26px;
    margin-bottom: 5px;
    position: relative;
    top: 6px;
    left: 9px;
    
  
}