html { height: 100%; margin: 0;}

body{
	height: 100%; 
	margin: 0;
	background: antiquewhite;
	line-height: initial;
	font-family: 'Source Sans Pro', sans serif;
  font-weight: 400;
  font-size: 14px;
}

div,p, ul,li, menu, dir{

    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;

	margin: 0;
	line-height: initial;
}

header{
	width: 100%;
	/*float: left;*/

	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-end;
	margin:0px;
}
#header-block header > div{
	flex-grow: 1;
} 
a{
	text-decoration: none;
}
#header-logo{
	max-width: 16%;
	margin: 0 0 -4px 0;
	min-width: 255px;
}
#header-logo img{
	width: 100%;
}

#header-content{
	width: 76%;
	/*display:inline-block;*/
	margin: 0px;

	
}
#welcome-message{
	text-align: center;
}

#welcome-name{
	font-size: 2vw; 
}
#subcontractor-name{
	font-size: 1.5vw;
}

.secondary-nav{
	display: inline-block;
	padding-right: 40px;
}
.navigation{
  min-width: 150px;
	position: relative;
	background-color: ghostwhite;
	text-align: right;
	
}
.secondary-nav a {
  display: inline-block;
	position: relative;
	color: #0E76BD;
	font-size: 18px;
	padding: 0 15px;
	height: 30px;
	

}
.navigation-main{
  min-width: 200px;
  position: relative;
  width:  100%;
  background: #0E76BD;
  display: block;
}

.MainNav{
  
  display: inline-block;
  position:relative;
	padding-left: 15%;
	
}
.MainNav a{
  display: inline-block; 
	position: relative;
  color: #E0E0E0;
	font-size: 18px;
  padding: 0 15px;
	height: 30px;
}
#header-account-info{
	width: 8%;
	display: flex;
  flex-direction: column;
	flex-grow: 1;
	text-align: center;
	margin: 0 0 1% 0;
}
#header-account-info > #account-links >  a{
  display: inline-block;
	color: #0E76BD;
  font-size: 16px;
  margin-bottom: 2%;  
  width: 100%;
}


/*.secondary-nav a:hover:after
{
  content: attr(data-before);	
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  position: absolute;
  top: 100%;
  left: 50%;
}*/
/*
.secondary-nav a:active:after
{
  content: '';	
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  padding:0;
  position: relative;
}
*/
.change:after
{
  content: attr(data-before1);	
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #0E76BD;;
 	padding:0;
  position: absolute;
  bottom: 0%;
  left: 50%;
  
}

.change2:after
{
  content: attr(data-before2);	
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #E0E0E0;
 	padding:0;
  position: absolute;
  bottom: 0%;
  left: 50%;
  
}

@media only screen and (max-width: 1200px) {
   #account-links{
      display: none; 
   }
   .arrow-down {
     display: block;
   }
}

.arrow-down {
  margin:auto;	
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
   border-bottom: 20px solid transparent;
  border-top: 20px solid #E0E0E0;
 	padding:0;

}

main{
	width: 960px;
	margin: 30px auto 0 auto; 
}
/*.secondary-nav a:link { 
  color: blue;
}
a:visited {
  color: purple;
}
a:hover {
  color: green;
}
a:active {
  color: red;
}*/
/*numbered navigation*/

.hidden-menu-s{
    background: ghostwhite;
    position: absolute;
    width: 160px;
    font-family: inherit;
    right: 0%;
    top: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid #0E76BD;
    z-index: 5;
}

.hidden-menu-s > a {
  position: relative;
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: 18px;
    color: #0E76BD;
    text-align: center;
    border-bottom: 1px solid;
    height: 30px;
  
}

.hidden-menu-s > a:last-child{
  border-bottom: none;
}

.hidden-menu-m{
    background: #0E76BD;
    position: absolute;
    width: 160px;
    font-family: inherit;
    left: 0%;
    top: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid #E0E0E0;
    z-index: 5;
}

.hidden-menu-m > a {
  position: relative;
    display: inline-block;
    width: 100%;
    font-family: inherit;
    font-size: 18px;
    color: #E0E0E0;
    text-align: center;
    border-bottom: 1px solid;
    height: 30px;
  
}

.hidden-menu-m > a:last-child{
  border-bottom: none;
}


.hidden{
	display: none;
}

.ham-menu-s1{
	  border: 1px solid #E0E0E0;
    width: 44px;
    height: 44px;
    border-radius: 22px;
    background: #0E76BD;
    position: absolute;
    top: -10px;
    right: -13px;
}
.ham-menu-s1 div1{
	  border-top: 3px solid #E0E0E0;
    width: 26px;
    margin-bottom: 5px;
    position: relative;
    top: 12px;
    left: 9px;
}


/*rectangle-ham*/
.ham-menu-s {
    /* border: 1px solid #E0E0E0; */
    width: 44px;
    height: 30px;
    /* border-radius: 22px; */
    background: #0E76BD;
    position: absolute;
    top: 0px;
    right: 1px;
    z-index: 5;
  
}
.ham-menu-s div {
    border-top: 3px solid #E0E0E0;
    width: 26px;
    margin-bottom: 5px;
    position: relative;
    top: 7px;
    left: 9px;
  
}



/*rectangle-ham for main menu*/
.ham-menu-m {
    /* border: 1px solid #E0E0E0; */
    width: 44px;
    height: 30px;
    /* border-radius: 22px; */
    background: #E0E0E0;
    position: absolute;
    top: 0px;
    left: 1px;
    z-index: 5;
}
.ham-menu-m div {
    border-top: 3px solid #0E76BD;
    width: 26px;
    margin-bottom: 5px;
    position: relative;
    top: 6px;
    left: 9px;
    
  
}